*{
    margin: 0;
    padding: 0;;
}
body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Ruda', sans-serif;
}
.tudo {
    background-image: url(../img/imagem-fundo-contato.png);
    background-repeat: no-repeat;
    width: 1500px;
    margin: auto;
}
.cabeçalho{
    height: 300px;
}

.logo1 {
    margin-left: 100px;
    margin-top: 50px;
}

.rs{
    float: right;
    margin-top: 65px;
    margin-right: 100px;

}

.top{
    margin-top: 75px;
    margin-right: 85px;
    float: right;
}
a {
    font-family: 'Ruda', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.contato {
    font-size: 40px;
    margin-top: 50px;
    margin-left: 40px;
    float: left;
}
hr {
    width: 1050px;
    border: 1px solid white;
    float: left;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 50px;
}
form {
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
}
#nome {
    font-size: 30px;
    padding: 20px;
    float: left;
    width: 44%;
    background-color: #73737380;
    border: 0px solid #00000000;
}
#sobrenome {
    font-size: 30px;
    padding: 20px;
    float: right;
    width: 45%;
    background-color: #73737380;
    border: 0px solid #00000000;
}
#email {
    font-size: 30px;
    padding: 20px;
    width: 1300px;
    background-color: #73737380;
    border: 0px solid #00000000;
    margin-top: 40px;
}
#telefone {
    font-size: 30px;
    padding: 20px;
    width: 1300px;
    background-color: #73737380;
    border: 0px solid #00000000;
    margin-top: 40px;
}
#serviço {
    font-size: 30px;
    padding: 20px;
    width: 1340px;
    background-color: #73737380;
    border: 0px solid #00000000;
    margin-top: 40px;
}
#opçao {
    color: grey;
}
#mensagem {
    font-size: 30px;
    padding: 20px;
    width: 1300px;
    height: 250px;
    background-color: #73737380;
    border: 0px solid #00000000;
    margin-top: 40px;
}
.enviar {
    font-size: 30px;
    padding: 20px;
    float: right;
    width: auto;
    background-color: #73737380;
    border: 0px solid #00000000;
    margin-top: 40px;
}
/* -------------------------------------- */
.avalie {
    font-size: 40px;
    margin-top: 125px;
    margin-left: 40px;
    float: left;
}
#linha2 {
    width: 1180px;
    margin-top: 50px;
    float: right;
    margin-right: 60px;
}
.carros {
    background-image: none;
    background-color: rgba(240, 248, 255, 0);
}
#carros {
    font-size: 30px;
    padding: 20px;
    width: 615px;
    height: 490px;
    background-color: #73737380;
    border: 0px solid #00000000;
    margin-top: 5px;
    overflow-y:hidden;
}
option {
    margin-top: 35px;
}
#avalie {
    font-size: 30px;
    padding: 20px;
    width: 640px;
    height: 450px;
    float: right;
    background-color: #73737380;
    border: 0px solid #00000000;
    margin-top: 5px;
}
/* rodapé */
.rodape{
    color: white;
    margin-top: 200px;
    position: relative;
    background-image: url(../img/imagem-fundo-rodape.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
}

.logo2{
    margin-left: 650px;
}

/* TITULOS */

.tit-tel{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 100px;
    margin-left: 300px;
    position: relative;
}

.tit-end{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: -47px;
    margin-left: 695px;
    margin-right: 0px;
    position: relative;
}

.tit-red{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: -49px;
    margin-left: 1100px;
    position: relative;
}

.tit-email{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 180px;
    margin-left: 300px;
    margin-right: 0px;
    position: relative;
}

.tit-hor{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: -48px;
    margin-left: 695px;
    margin-right: 0px;
    position: relative;
}

.direitos{
    text-align: center;
    margin-top: 200px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;    font-weight: bold;
}

/* extras */

.wpp{
    margin-top: 20px;
    margin-left: 300px;
    position: absolute;
}

.n-wpp{
    margin-top: 30px;
    margin-left: 340px;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}


.tel{
    margin-top: 65px;
    margin-left: 300px;
    position: absolute;
}

.n-tel{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 73px;
    margin-left: 340px;
    position: absolute;
    font-size: 18px;
}

.rua{
    margin-top: 40px;
    margin-left: 695px;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}

.img-rs{
    margin-top: 20px;
    margin-left: 1100px;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}

.email{
    margin-top: 20px;
    margin-left: 300px;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}

.hora{
    margin-top: 20px;
    margin-left: 695px;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}