* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.TUDO{
    width: 1500px;
    margin: auto;
}

/* CABEÇALHO */

.cabeçalho{
    background-image: url(../img/carro-fundo-home.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 1100px;
}

.logo1 {
    margin-left: 100px;
    margin-top: 50px;
}

.rs{
    float: right;
    margin-top: 65px;
    margin-right: 100px;

}

.top{
    margin-top: 75px;
    margin-right: 85px;
    float: right;
}
a {
    font-family: 'Ruda', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.sobre-nos{
    color: white;
    width: 650px;
    float: right;
    margin-top: 250px;
    margin-right: -750px;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

/* DESTAQUE */

.d{
    font-family: 'Ruda', sans-serif;
    font-size: 35px;
    color: white;
    margin-right: 650px;
    text-align: center;

}

.l1{
    width: 650px;
    float: left;
    margin-left: 0px;
    margin-top: 19px;
    border: 1px solid white;

}

.l2{
    float: right;
    width: 650px;
    margin-right: 0px;
    margin-top: -23px;
    border: 1px solid white;
}

/* CARROS */

.carros{
    margin-top: 100px;
    position: relative;
}

.carro-1{
    float: left;
    margin-top: -50px;
    margin-left: 50px;
    margin-right: 150px;
    display: block;
}
.carro-2{
    float: left;
    margin-top: -50px;
    display: block;
}
.carro-3{
    float: right;
    margin-top: -50px;
    margin-right: 50px;
    display: block;
}

/* LEGENDAS */

.leg1{
    float: left;
    width: 360px;
    border-radius: 5px;
    color: white;    
    background-color: #0000009b;
    font-family: 'Saira Condensed', sans-serif;
    padding: 3px;
    margin-top: 195px ;
    margin-left: 50px;
    position: absolute;
}
.leg2{
    float: left;
    width: 360px;
    border-radius: 5px;
    color: white;    
    background-color: #0000009b;
    font-family: 'Saira Condensed', sans-serif;
    padding: 3px;
    margin-top: 195px ;
    margin-left: 566px;
    position: absolute;
}
.leg3{
    float: right;
    width: 360px;
    border-radius: 5px;
    color: white;    
    background-color: #0000009b;
    font-family: 'Saira Condensed', sans-serif;
    padding: 3px;
    margin-top: 195px ;
    margin-left: 1084px;
    position: absolute;
}

/*LOCALIZAÇÃO*/

.LOCALIZAÇÃO{
    margin-top: 450px;
    position: relative;
}
.tit-local{
    font-family: 'Ruda', sans-serif;
    font-size: 35px;
    color: white;
    margin-right: 650px;
    margin-left: 650px;
}
.l3{
    width: 635px;
    float: left;
    border: 1px solid white;
    margin-left: 0px;
    margin-top: 20px;

}
.l4{
    float: right;
    width: 635px;
    border: 1px solid white;
    margin-right: 0px;
    margin-top: -24px;
}
.mapa{
    margin-top: 50px;
    margin-left: 30px;
    position: absolute;
}
.carrinho{
    margin-top: 540px;
    margin-left: 1270px;
    position: absolute;
}

/* RODAPÉ */

.rodape{
    color: white;
    margin-top: 760px;
    position: relative;
    background-image: url(../img/imagem-fundo-rodape.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
}

.logo2{
    margin-left: 650px;
}

/* TITULOS */

.tit-tel{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 100px;
    margin-left: 300px;
    position: relative;
}

.tit-end{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: -47px;
    margin-left: 695px;
    margin-right: 0px;
    position: relative;
}

.tit-red{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: -49px;
    margin-left: 1100px;
    position: relative;
}

.tit-email{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 180px;
    margin-left: 300px;
    margin-right: 0px;
    position: relative;
}

.tit-hor{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: -48px;
    margin-left: 695px;
    margin-right: 0px;
    position: relative;
}

.direitos{
    text-align: center;
    margin-top: 200px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;    font-weight: bold;
}

/* extras */

.wpp{
    margin-top: 20px;
    margin-left: 300px;
    position: absolute;
}

.n-wpp{
    margin-top: 30px;
    margin-left: 340px;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}


.tel{
    margin-top: 65px;
    margin-left: 300px;
    position: absolute;
}

.n-tel{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 73px;
    margin-left: 340px;
    position: absolute;
    font-size: 18px;
}

.rua{
    margin-top: 40px;
    margin-left: 695px;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}

.img-rs{
    margin-top: 20px;
    margin-left: 1100px;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}

.email{
    margin-top: 20px;
    margin-left: 300px;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}

.hora{
    margin-top: 20px;
    margin-left: 695px;
    font-family: 'Roboto Condensed', sans-serif;font-size: 18px;
}